{% extends 'base/base.html' %}

{% block title %}
Tabla
{% endblock %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Numero</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% if capitulos %}
    {% for capitulo in capitulos  %}
    <tr class="table-light">
      <td>{{ capitulo.id }}</td>
      <td>{{ capitulo.numero }}</td>
      <td>
        <a class="btn btn-primary" href="{% url 'editcap' capitulo.id %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'delcap' capitulo.id %}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <h5>No hay registros de capitulos</h5>
    {% endif %}
  </tbody>
</table>
<center>
<a href="{% url 'crearcap' %}" class="btn btn-outline-danger">Nuevo capitulo</a>
<a href="{% url 'iniciopc' %}" class="btn btn-outline-secondary">Regresar</a>
</center>
{% endblock %}
