{% extends 'base/base.html' %}

{% block extrastatic %}
{% endblock %}

{% block title %}Nuevo AnteProyecto{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="alert alert-dismissible alert-warning">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <h4 class="alert-heading">Tu usuario es: {{user.username}}</h4>
	  <p class="mb-0">Debes elegir tu usuario. En otro caso ponte en contacto con el administrador</p>
	</div>

		<div class="form-group">
				<label>Nombre para el AnteProyecto</label>
				{{form.nombre}}
			</div>

			<div class="form-group">
				<label>Usuario</label>
				<select name="user" class="form-control">
				  <option value="{{request.user.pk}}">{{request.user.username}}</option>
				</select>
			</div>

		<div class="form-group">
			<label>Total</label>
			{{form.totalA}}
		</div>

<div class="form-group">
	{{form.imagen}}
</div>

{%if user.is_superuser %}
<div class="alert alert-dismissible alert-success">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<strong>Administrador!</strong> Aqui puedes cambiar el estado de un anteproyecto.
</div>
<div class="form-group">
<label>Estado</label>
{{form.estado}}
</div>
{% endif %}
	<button type="submit" class="btn btn-primary">Guardar</button>
	<a href="{% url 'verap' %}" class="btn btn-outline-primary">Regresar</a>


	{% if form.errors %}
			{% for field in form %}
					{% for error in field.errors %}
							<div class="alert alert-danger">
									<strong>{{ error|escape }}</strong>
							</div>
					{% endfor %}
			{% endfor %}
			{% for error in form.non_field_errors %}
					<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
					</div>
			{% endfor %}
	{% endif %}

</form>

{% endblock %}
